<form #form="ngForm" (submit)="form.valid && sendData()">
  <div class="form-group">
    <label>Name</label>
    <input
      name="name"
      type="text"
      class="form-control"
      [class.is-invalid]="name.invalid && (name.touched || form.submitted)"
      required
      [(ngModel)]="contact.name"
      #name="ngModel"
    />
    <div class="invalid-feedback">
      Please choose a name.
    </div>
  </div>

  <div class="form-group">
    <label>Email address</label>
    <input
      name="email"
      type="email"
      class="form-control"
      [(ngModel)]="contact.email"
    />
  </div>

  <div class="form-group">
    <label>Phone</label>
    <input
      name="phone"
      type="tel"
      class="form-control"
      [(ngModel)]="contact.phone"
    />
  </div>

  <button class="btn btn-primary">Submit</button>
</form>
